.switch-theme-btn {
	position: absolute;
	bottom: .5rem;
	left: 50%;
	transform: translateX(-50%);

	width: 2rem;
	height: 2rem;

	background: none;
	border: none;

	cursor: pointer;

	&:hover {
		background: var(--ant-control-item-bg-hover);
	}
}